@font-face { 
    font-family: "Proxima Nova Regular";
    src:
        url('../fonts/Proxima Nova Regular.woff') format("woff"),
        url('../fonts/Proxima Nova Regular.woff') format("woff2");
    font-weight: 400;
    font-style: noraml;
    font-display: swap;
}