@media screen and ( max-width: 1024px )
    body
        font-size: 14px
    .content
        &__text
            font-size: 24px
            max-width: 560px
    .skip
        &__link
            font-size: 14px
        &__link::after
            width: 5px
            height: 8px
@media screen and ( max-width: 980px )
    .support
        &__link
            margin: auto
            position: relative
            top: 5px
    .footer
        &__logo-link
            left: 30px
    .quiz
        &__content
            max-width: 540px
    .input
        width: 209px
        font-size: 14px
        padding-left: 50px
        height: 47px
    .content
        &__input
            width: 209px
            font-size: 14px
            padding-left: 50px
            height: 47px
        &__iuput::placeholder
            font-size: 14px
            // height: 5px
        &__question-input
            max-width: 235px
            padding-left: 20px
    .search
        &__button
            left: 10px
            top: 11px
        &__button img
            width: 12px
            height: 12px
        &__button::after
            left: 30px
            top: 5px
            height: 16px
    .button-back
        display: none
    .defibrillator
        &__content
            max-width: 320px
        &__price
            width: 145px
            margin: auto
            margin-bottom: 40px
        &__price span
            justify-content: center      
@media screen and ( max-width: 610px )
    .header
        &__info
            display: none
    .footer
        &__education, &__login
            display: none
        &__container
            justify-content: center
            max-width: 380px
        &__logo-link 
            position: absolute
            top: -43px
            left: 47px
            background-image: url('../../img/main-screen/mobile-footer-bg.svg')
            background-repeat: no-repeat
            background-position: center top
        &__social-item 
            display: flex
            align-items: center
            justify-content: center
            padding-right: 18px
            height: 40px
            width: 123px
            margin-right: 20px
            background-color: #1C1C1C
            border-radius: 46px
            font-size: 14px
            color: #ffffff
            box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.06)
            margin: 0 20px 20px 0
        &__socials-wrapper 
            display: flex
            justify-content: center
            width: 100%
            flex-wrap: wrap
            flex-basis: 85%
        &__social-item:nth-last-child(2)
            margin-right: 0
        &__social-item:nth-last-child(4)
            margin-right: 0
        &__logo-block
            left: -5px
        &__info.header__info
            display: block
            text-align: center
            margin-left: 0
    .quiz
        &__footer 
            height: 250px
            position: fixed
            display: flex
            justify-content: center
            background-color: #ffffff
            box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.06)
            bottom: 60px
            width: 100%
            transition: all 0.5s ease
            transform: translateY(235px)
            z-index: 2
        &__footer:hover
            transform: translateY(70px)
            transition: all 0.5s ease
    .desktop-footer
        &__logo-link
            display: none
    .mobile-footer
        &__logo-link
            display: block
            background-image: url('../../img/main-screen/mobile-footer-bg.svg')
            background-repeat: no-repeat
    .skip
        &__link
            font-size: 14px
        &__link::after
            width: 5px
            height: 8px
@media screen and ( max-width: 540px )
    .quiz
        &__header
            margin-bottom: 115px
    .header
        &__container 
            width: 100%
            margin: auto
            display: flex
            align-items: center
            margin-right: 35px
            margin-left: 35px
        &__info
            display: none
    .info
        &__support
            opacity: 0.5
    .menu
        &__text
            display: none
    .logo
        &__link
            display: flex
    .quiz
        &__content
            margin-bottom: 119px
    .content
        &__text
            max-width: 260px
            width: 100%
            font-size: 18px
        &__buttons
            display: flex
            flex-direction: column
            max-width: 260px
            align-items: center
            margin: auto
            margin-bottom: 40px
        &__button
            margin-right: 0
            margin-bottom: 15px
            text-align: center
            width: 260px
            padding: 15px 0
    .quiz
        &__footer  
            display: none
            height: 60px
    .desktop-footer
        &__logo-link
            display: none
    .mobile-footer
        &__logo-link
            display: block
            background-image: url('../../img/main-screen/mobile-footer-bg.svg')
            background-repeat: no-repeat
    .quiz
        &__footer 
            height: 250px
            position: fixed
            display: flex
            justify-content: center
            background-color: #ffffff
            box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.06)
            bottom: 60px
            width: 100%
            transition: all 0.5s ease
            transform: translateY(235px)
        &__footer:hover
            transform: translateY(70px)
            transition: all 0.5s ease
    .footer
        &__education, &__login
            display: none
        &__container
            justify-content: center
            max-width: 380px
        &__logo-link 
            position: absolute
            top: -43px
            left: 47px
            background-image: url('../../img/main-screen/mobile-footer-bg.svg')
            background-repeat: no-repeat
            background-position: center top
        &__social-item 
            display: flex
            align-items: center
            justify-content: center
            padding-right: 18px
            height: 40px
            width: 123px
            margin-right: 20px
            background-color: #1C1C1C
            border-radius: 46px
            font-size: 14px
            color: #ffffff
            box-shadow: 0px -3px 12px rgba(0, 0, 0, 0.06)
            margin: 0 20px 20px 0
        &__socials-wrapper 
            display: flex
            justify-content: center
            width: 100%
            flex-wrap: wrap
            flex-basis: 85%
        &__social-item:nth-last-child(2)
            margin-right: 0
        &__social-item:nth-last-child(4)
            margin-right: 0
        &__logo-block
            left: -5px
    .support
        &__link
            margin: auto
            position: relative
            top: 5px
    .footer
        &__info.header__info
            display: block
            text-align: center
            margin-left: 0
    .defibrillator
        &__content
            margin-bottom: 30px
@media screen and ( max-width: 460px )
    .footer
        &__container
            margin-left: 0
            margin-right: 0    
@media screen and ( max-width: 420px )
    .quiz
        &__header
            margin-bottom: 115px
    .header
        &__container 
            width: 100%
            margin: auto
            display: flex
            align-items: center
            margin-right: 35px
            margin-left: 35px   
        &__info
            display: none
    .menu
        &__text
            display: none
    .logo
        &__link
            display: flex
    .quiz
        &__content
            margin-bottom: 119px
    .content
        &__text
            max-width: 260px
            width: 100%
            font-size: 18px
        &__buttons
            display: flex
            flex-direction: column
            max-width: 260px
            align-items: center
            margin: auto
            margin-bottom: 40px
        &__button
            margin-right: 0
            margin-bottom: 15px
            text-align: center
            width: 260px
    .desktop-footer
        &__logo-link
            display: none
    .mobile-footer
        &__logo-link
            display: block
    .footer
        &__education, &__login
            display: none
        &__container
            justify-content: center
        &__logo-link 
            position: absolute
            top: -43px
            left: 47px
        &__logo-block
            left: -5px
    .support
        &__link
            margin: auto
            position: relative
            top: 5px
    .defibrillator__content 
        margin-bottom: 30px
@media screen and ( max-width: 380px )
    .footer
        &__social-item
            margin: 0 15px 15px 0
        &__socials-wrapper
            flex-basis: 100%
@media screen and ( max-width: 320px )
    .quiz
        &__header
            margin-bottom: 115px
    .header
        &__container 
            width: 100%
            margin: auto
            display: flex
            align-items: center
        &__info
            display: none
    .menu
        &__text
            display: none
    .logo
        &__link
            display: flex
    .quiz
        &__content
            margin-bottom: 119px
    .content
        &__text
            max-width: 260px
            width: 100%
            font-size: 18px
        &__buttons
            display: flex
            flex-direction: column
            max-width: 260px
            align-items: center
            margin: auto
            margin-bottom: 40px
        &__button
            margin-right: 0
            margin-bottom: 15px
            text-align: center
            width: 260px
    .footer
        &__education, &__login
            display: none
        &__container
            justify-content: center
        &__logo-link 
            position: absolute
            top: -45px
            left: 47px
    .support
        &__link
            margin: auto
            position: relative
            top: 5px