.quiz
    &__header
        display: flex
        justify-content: space-between
        margin-top: 29px
        margin-bottom: 212px
.header
    &__container
        display: flex
        max-width: 1600px
        width: 100%
        justify-content: space-between
        margin-right: 35px
        margin-left: 35px
    &__info
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        margin-left: 50px
    &__menu
        display: flex
        align-items: center
        position: relative
.info
    &__support
        font-size: 12px
        line-height: 15px
.menu
    &__text
        text-transform: uppercase
        letter-spacing: 2%
        margin-right: 17px
    &__burger
        height: 60px
        width: 60px
        background-color: $black
        border-radius: 50%
        transition: all 0.5s ease
        cursor: pointer
.burger
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    &__item-top 
        display: flex
        justify-content: center
        height: 1px
        width: 25px
        margin-bottom: 8px
    &__item-bottom 
        display: flex
        justify-content: center
        height: 1px
        width: 25px
.burger:hover
    transform: scale(1.1)
    transition: all 0.5s ease