.content
    &__wrapper
        max-width: 1035px
.service
    &__content
        max-width: 1035px
.data
    &__describe
        display: flex
        padding: 20px 40px
        background: #FFFFFF
        border: 1px solid #E3E8EA
        box-sizing: border-box
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.07)
        border-radius: 15px
        width: 540px
        height: 200px
        resize: none
    &__describe::placeholder
        opacity: 0.6
    &__input
        margin-bottom: 20px
.another-problem
    &__header
        margin-bottom: 185px
.sn-code
    &__block
        display: flex
        width: 270px
        margin-right: 100px
    &__next
        width: 100%
    &__skip::before
        bottom: 10px
    